<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="google-signin-scope" content="profile email">	  
	  <meta name="google-signin-client_id" content="94568658962-oqp52u4s7kk7nl45j06hgppiisc34olq.apps.googleusercontent.com">  
      <title>Chaddon</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- Leave those next 4 lines if you care about users using IE8 -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->
      <link rel="stylesheet" href="stylesheets/style.css">
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#"><img src="./images/chaddon_logo.jpeg" alt="Chaddon Logo" height="28" width="28">
               </a>
            </div>
            <ul class="nav navbar-nav">
               <li class="active"><a href="#">Home</a></li>
               <li><a href="https://chaddon.herokuapp.com/lobby">Lobby</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Find a channel..." name="search">
               </div>
               <button type="submit" class="btn btn-default">Search</button>
            </form>
         </div>
      </nav>
      <div class="row">
         <div class="col-sm-10">
            <div id="livechat" class="well" ></div>
         </div>
         <div class="users_online col-sm-2">
            <h4>Online</h4>
            <ul id="online"></ul>
         </div>
      </div>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
         <div class="container-fluid">	
            <form class="navbar-form">
			   <label id="usernameLabel" class="col-2 col-form-label">Please Sign In, <a class="brand"></a></label>
			   <div id="googleSignIn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>			   			   
			   <input class="span8 hide" type="text" id="message" placeholder="Be nice"/>
               <input class="btn btn-primary span2 hide" type="button" id="send" value="Send" />
            </form>
         </div>
         </div>
      </nav>
	  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>      
      <script src="../scripts/chatroom.js"></script>
      <script src="../scripts/googleAuthentication.js"></script>	      
   </body>
</html>