<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Chaddon</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-inverse">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="#"><img src="./images/chaddon_logo.jpeg" alt="Chaddon Logo" height="30" width="30">
               </a>
            </div>
            <ul class="nav navbar-nav">
               <li class="active"><a href="#">Home</a></li>
               <li><a href="https://chaddon.herokuapp.com/lobby">Lobby</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Find a channel..." name="search">
               </div>
               <button type="submit" class="btn btn-default">Search</button>
            </form>
         </div>
      </nav>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Lets Chat</a>

        </div>
      </div>
    </div>

   <div class="container-fluid">
     <div class="row-fluid">
       <div class="span10">
         <!--Body content-->
         <div id="content" class="well" style="height: 550px;">
         
         <div class="post">
         <div class="post-inner">
         <b>Mohammed:</b> Hey what's up?
         </div>
         </div> 
         
        
         
         <div class="post">
         <div class="post-inner">
         <b>Zeeshan:</b> I am good what about you? how is it going
         </div>
         </div> 
         
         </div>
       </div>
       
       <div class="span2">
         <!--Sidebar content-->
       	
       	<div id="users_online">
       	<ul>
       	<li>Mohammed</li>
       	<li>Zeeshan</li>
       	<li>Saquib</li>
       	</ul>
       	</div>
       
       </div>
       
       
     </div>
   </div> <!-- /container -->

<div class="navbar navbar-fixed-bottom">
<div class="navbar-inner">
<div class="container">
<a class="brand">Mohammed</a>
<form class="navbar-form">

<input class="span8"type="text" name="" placeholder="Be nice" style="margin-bottom: 3px;" />
<input class="btn btn-primary span2" type="button" name="" value="Send" />
</form>
</div>
</div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../public/javascript/jquery.js"></script>
    <script src="../public/javascript/bootstrap-transition.js"></script>
    <script src="../public/javascript/bootstrap-alert.js"></script>
    <script src="../public/javascript/bootstrap-modal.js"></script>
    <script src="../public/javascript/bootstrap-dropdown.js"></script>
    <script src="../public/javascript/bootstrap-scrollspy.js"></script>
    <script src="../public/javascript/bootstrap-tab.js"></script>
    <script src="../public/javascript/bootstrap-tooltip.js"></script>
    <script src="../public/javascript/bootstrap-popover.js"></script>
    <script src=".../public/javascript/bootstrap-button.js"></script>
    <script src="../public/javascript/bootstrap-collapse.js"></script>
    <script src="../public/javascript/bootstrap-carousel.js"></script>
    <script src="../public/javascript/bootstrap-typeahead.js"></script>

  </body>
</html>
