<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ../partials/head %>
   </head>
   <header>
      <% include ../partials/navbar %>
  </header>
<body>
	<form action="javascript:displayRooms()">
		<input type="submit" value="submit">
	</form>
	
    <div class="col-sm-2">
		<div id="Rooms">
		</div>
    </div>
        <footer>
        <% include ../partials/footer %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../scripts/admin.js"></script>
    </footer>

</body>

</html>