<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="/socket.io/socket.io.js"></script>
      <% include ../partials/head %>
   </head>
   <header>
      <% include ../partials/navbar %>
  </header>
   <body onload="checkUsername()">
      <!--Login Overlay -->
      <div id="content">
      <div id="overlay">
         <div id="text">Chaddon</div>
         <h3 class="overlayLogo1">Temporary User</h3>
         <div class="form-group usernameOverlay">
            <label for="usr">Name:</label>
            <input id="usrName" type="text" class="form-control" id="usr" maxlength="10" placeholder="Enter username">
            <h3>Or Sign In with Google</h3>
            <div class="signIn">
               <div id="googleSignIn" class="g-signin2 signIn" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
            <div class="chatPad">
               <button id="enterChat" onclick="userLogin()" type="submit" class="btn btn-primary">Let's Chat!</button>
            </div>
         </div>
      </div>
      </div>
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-2">
               <div class="chaddon_headings">Channels</div>
               <div class="users_online">
                  <ul id="userOpenChats" class="list-group list-unstyled">
                     <li class="list-group-item-action">
                     </li>
                     <li class="list-group-item-action active">
                     </li>
                  </ul>
               </div>
               <div class="container"></div>
               <div class="chaddon_headings">Online</div>
               <div class="users_online">
                  <ul id="onlineUserList" class="list-unstyled"></ul>
               </div>
            </div>
            <div class="col-sm-10">
                <div class="container-fluid">
               <div class="chaddon_headings" id="current-channel"></div>
               <div id="liveChat" class="well"></div>
            </div>
         </div>
      </div>
    </div>
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
         <div class="container-fluid" id="loginGoogleAccountBar">
         </div>
         <div class="container-fluid hide" id="sendMessageBar">
         </div>
      </nav>
      <footer>
          <% include ../partials/footer %>
          <script src="../scripts/chatroom.js"></script>
          <script src="../scripts/googleAuthentication.js"></script>
      </footer>
   </body>
</html>
