<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
            <%if(!user) { %>
        <% include ../partials/login %>
          <%  } else {  %>
            <%  include ../partials/chat   %>
            <% } %>
           
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>