<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>

<body class="container-fluid">
    <main>
        <% include ../partials/loginOptions %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>