<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        <% include ../partials/login %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>