<!doctype html>
<html>

<head>
    <% include ../partials/header %>
        <title>Chaddon | Guest Login</title>
        <link rel="stylesheet" type="text/css" href="css/login-index.css">
        <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
    <main>
        <h1>
            <span class="fas fa-sign-in-alt"></span> Login
        </h1>
        <div class="login">
            <div class="container">
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>
                        <form action="/login" method="post">
                            <% include ../partials/formInputFields %>
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-success" id="loginBtn">Login</button>
                                    </div>
                        </form>
                        <div class="col-4">
                            <a href="/profile">
                                <button type="button" class="btn btn-outline-secondary" id="backToLoginBtn">Back</button>
                            </a>
                        </div>
                        </div>

            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>