<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
        <title>Chaddon</title>
        <link rel="stylesheet" type="text/css" href="css/login-index.css">
</head>

<body>
    <main>
        <div class="login-index">
            <% include ../partials/login-options %>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>