<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header %>
        <title>Chaddon</title>
        <link rel="stylesheet" type="text/css" href="css/login-index.css">
</head>

<body>
    <header>
        <h3>
            Chaddon
            <i class="far fa-comments"></i> . . .
        </h3>
    </header>
    <main>
        <% include ../partials/login-options %>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>