<!doctype html>
<html>

<head>
    <% include ../partials/header %>
        <title>Chaddon |
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="css/login-index.css">
        <link rel="stylesheet" type="text/css" href="css/signup.css">
</head>

<body>
    <header>
        <h3>
            <%= title %>
                <i class="fas fa-user-plus"></i>
        </h3>
    </header>
    <main>
        <div class="container">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <form action="/signup" method="post">
                                <% include ../partials/formInputFields %>
                                    <a href="/">
                                        <button type="button" class="btn btn-outline-secondary" id="backToLoginBtn">Back</button>
                                    </a>
                                    <button type="submit" class="btn btn-success" id="signUpBtn">Sign Up</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Already have an account?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/login">
                                <button type="submit" class="btn btn-outline-secondary" id="existingAccountBtn">Login</button>
                            </a>
                        </div>
                    </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>