.post-current {
	border-left: 6px solid #636ee7;
}

.post-inner {
	margin-left: 10px;
	word-wrap: break-word;
}

.post-other {
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 6px solid #c3b8b8;
}

.users_online {
	background-color:#FAC32B
}

#online {
	list-style: none;
}

#usernameLabel {
	color: #fff;
}

#googleSignIn {
	display: inline-block; 
	margin-left: 10px;
}

.hide {
	display: none;
}

#message {
	margin-bottom: 3px;
}