.post-current {
	border-left: 6px solid #636ee7;
}

.post-inner {
	margin-left: 10px;
	word-wrap: break-word;
}

.post-other {
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 6px solid #c3b8b8;
}

.users_online {
	border: 3px groove #555555;
	background-color:#FAFAFA;
	height:190px;
	padding-top:10px;
	text-align: center;
}

.chaddon_headings {
	font-family: "Bookman Old Style","Times New Roman";
	font-weight: bold;
	text-align: center;
	font-size: 24px;
}

#online {
	list-style: none;
}

#usernameLabel {
	color: #fff;
}

#googleSignIn {
	display: inline-block; 
	margin-left: 10px;
}

.hide {
	display: none;
}

#message {
	margin-bottom: 3px;
}