<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chaddon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/admin.js"></script>
    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="../images/chaddon_logo.jpeg" alt="Chaddon Logo" height="28" width="28">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/lobby">Lobby</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right" id="search-form" onSubmit="return channelSearch();">
                <div class="form-group">
                    <div class="input-group">
                        <input id="channel-search" type="text" class="form-control" name="search" placeholder="Find a channel..">
                        <span class="search-btn input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </nav>
	
	<form action="javascript:displayRooms()">
		<input type="submit" value="submit">
	</form>
	
    <div class="col-sm-2">
		<div id="Rooms">
		</div>
	</div>

</body>

</html>