#errorHeader {
    color: #1d1d1d;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    color: #fff;
    margin-right: 10px;
}

#githubBtn {
    background: #454679;
}

#chaddonBtn {
    background: #ffc900;
}

.pulp-fiction {
    width: 360px;
    height: 360px;
    background-image: url("../images/travolta_pulp_fiction.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}