.login-index {
    background: #3d3d3d;
}

h1 {
    margin-top: 0;
    font-weight: 600;
    text-align: center;
    color: #ffc900;
    background: #454679;
    padding: 25px 0;
}

form {
    padding: 60px 40px 25px 40px;
}

label {
    font-weight: 400;
    font-size: 15px;
}

.form-control {
    box-shadow: none;
    color: #565656;
    font-size: 14px;
    padding: 30px 10px;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
}

.btn {
    border-radius: 1px;
    display: table;
    color: #ffffffd0;
    font-size: 16px;
    height: 48px;
    line-height: 38px;
    margin: 0 auto;
    width: 55%;
}

.btn:hover {
    color: #1d1d1d;
    border: 1px solid #FFF;
}

.forgot {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}