<div class="text-center">
<p>
    <a href="http://chaddon.ca" target="_blank">Chaddon.ca</a>
</p>
<p>
    <a href="#" target="_blank">Privacy Policy</a>
</p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>