<div class="main">
    <div class="container">
        <center>
            <div class="middle">
                <div class="left-description">
                    <h1>Chaddon Beta</h1>
                    <h5>A Google Chrome extension which gathers users in a open discussion based on their URL</h5>
                    <div class="clearfix"></div>
                </div>
                <div id="login">
                    <form action="javascript:void(0);" method="post">
                        <fieldset class="clearfix">
                            <p class="g-signin2" data-width="250" data-height="50" data-longtitle="true">
                            </p>
                            <span style="width:50%; text-align:right; float:right;">
                                <a href="/lobby">
                                    <input type="button" class="btn btn-default btn-xs" value="Lets Chat" style="border-radius: 0; padding:8px; font-weight:bold; color:rgba(128, 128, 128, 0.753);">
                                </a>
                            </span>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </center>
    </div>
</div>