<div class="main">
    <div class="container">
        <center>
            <div class="middle">
                <div class="left-description">
                    <h1>Chaddon Beta</h1>
                    <h5>A Google Chrome extension which gathers users in a open discussion based on their URL</h5>
                    <div class="clearfix"></div>
                </div>
                <div id="login">
                    <form action="/" method="post">
                        <fieldset class="clearfix">
                            <p class="g-signin2" data-width="250" data-height="50" data-longtitle="true">
                                <p>
                                    <p>
                                        <span class="fa fa-user"></span>
                                        <input type="text" name="username" Placeholder="Guest Username">
                                        <input id="password" style="display:none;" type="password" name="password"/>

                                    </p>
                                    <div>
                                        <span style="width:50%; text-align:right; float:right;">
                                            <input type="submit" value="Lets Chat">
                                        </span>
                                    </div>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </center>
    </div>
</div>

<script> 
    document.getElementById('password').value='tempPassword';
    </script>