<h1>
    <span class="far fa-comments"></span> Chaddon</h1>
<div class="login-index">

    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <a href="/login" class="btn btn-warning" role="button">
                            <span class="fas fa-sign-in-alt"></span> Local Login</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <a href="/signup" class="btn btn-primary" role="button">
                            <span class="far fa-clipboard"></span> Local Signup</a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <a href="/auth/google" class="btn btn-danger" role="button">
                            <span class="fab fa-google"></span> Google Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>