#sidebar {
    background: #ffc900;
}

#settings-label {
    color: #fff !important;
    text-align: left !important;
    text-transform: capitalize;
}

#tab-container .tab {
    color: #fff;
    font-size: 14px;
}

.tab-content h2 {
    color: #1d1d1d;
}

#tab-container .tab.active,
body.searching #search-container {
    background-color: #454679;
    color: #fff;
}