/* Styling for browser extension popup widget */

html,
body {
  height: 530px;
  margin: 0;
  padding: 0px;
  width: 300px;
}

.main {
  box-sizing: border-box;
  display: table;
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.popup-content {
  box-sizing: border-box;
  display: table;
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#popupFrame {
  height: 100%;
  width: 100%;
}