body{
background:#3d3d3d;
color: #fff;
}

/* TOP BAR */
.top-banner{
background: #454679;
color: #ffc900;
text-align: center;
padding:5px;
}

/* LEFT SIDEBAR */

.sidebar-heading{
  background: #ffc900;
  padding:4px;
}

.left-sidebar {
  border:1px solid #3d3d3d;
  padding:0;
}

.left-sidebar li{
  list-style: none;
  }

.left-sidebar h3{
text-align: left;
}

#onlineUserColumn{
  border:2px solid black;
}
#channelListHeader {

}

.users_online{

}
/* CHAT AREA */
.chat-area{
  padding-bottom: 22px;
  background-color:#45467949;
  max-height: 540px;
  max-width: 100%;
overflow-y: scroll;
 display: flex; 
flex-direction: column-reverse;
}
#chatContentArea li{

list-style: none;
}
.chat-messages{
  float: left;
  padding:0;
}
#chatContentArea{
  text-align: left;
}

/* BOTTOM BAR */
#bottomToolbar{
  position: absolute;
   left: 4px;
   bottom: 5px;
}

#sendChatMessageBtn{

}

#logoutBtn{

}